
*{
    margin: 0;
    padding: 0;
    
}
/*EDICIONES EN HEADER*/
.bgrheader{
height: 30vh;
background-color: beige;
}
.logoedicion{
    display: flex;
    justify-content: center;
    padding-top: 20px;
    padding-left: 20%;
    padding-bottom: 18px;
}

.links{
    color: rgb(255, 255, 255);
    background-color: rgb(61, 33, 10);
    box-shadow: none;
    border: none;
    width: 150px;
    height: 28px;
    text-decoration: none;
    font-size: 1rem;
    cursor: pointer;

}
.nav-pills .nav-link.active,
.nav-pills .show > .nav-link {
  background-color: rgb(61, 33, 10);
  color:white !important;

}
.ordenheader{
    display: flex;
    align-items: center;
    justify-content: center;
    gap:50px;
    flex-direction: row;
    list-style: none;
    font-size: 1.4rem;
    padding-top: 20px;

    
}
/*Texto y botón de Main en Index*/
.textmain{
    display: flex;
    align-items: center;
    justify-content: center;
    padding-top: 20px;
    padding-bottom: 20px;

}
.comprar{
    color: rgb(255, 255, 255);
    background-color: #3d210a;
    box-shadow: none;
    border: none;
    width: 150px;
    height: 28px;
    text-decoration: none;
    font-size: 1rem;
    margin-left: 44%;
}
/*Posición de video*/
.video{
    overflow: hidden;
    width: 100%;
}
/*Edición formulario*/
.spaceforms{
    display: flex;
    flex-direction: column;
    width: 300px;
    align-items: center;
    padding-top: 10px;
    padding-bottom: 15px;
    
}
.soloformulario{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    color: beige;
}
.backcontact{
    background-image: url(../Assets/img/contacto.jpg);
    min-height: 60vh;
}
/*Footer*/
.footeredicion{
    background-color: #3d210a;
    color: rgb(255, 255, 255);
    font-size: 0.6rem;
    height: 15vh;
    display: flex;
    justify-content: center;
    align-items: center;
}
/*Orden de sección productos*/
.productosorden{
    display: flex;
    padding-left: 10px;
    justify-content: center;

}
.precio{
    color: rgb(255, 255, 255);
    background-color: #3d210a;
    box-shadow: none;
    border: none;
    width: 90px;
    height: 28px;
    display: flex;
    justify-content: center;
    margin-left: 46%;
    margin-bottom: 20px;
    margin-top: 20px;
    align-items: center;
}
.textoh2{
    padding-left: 43%;
    padding-bottom: 20px;
    padding-top: 30px;
    color: black;
}
.carrito{
    display: flex;
    justify-content: center;
    margin-left: 46%;
    margin-bottom: 20px;
    margin-top: 20px;
    align-items: center;
}
.contactext{
    color: rgb(255, 255, 255);
    padding-left: 43%;
    margin-bottom: 10px;
    padding-top: 25px;
}
.colorback{
    background-color: beige;
}