
*{
    margin: 0;
    padding: 0;
    
}
/*EDICIONES EN HEADER*/
.bgrheader{
    background-color: beige;
    height: 30vh;
}
.logoedicion{
    display: flex;
    justify-content: center;
    padding-top: 20px;
    padding-left: 47%;
    
    
}
.textologo{
    font-size: 1.6rem;
    padding-left: 43%;
}
.links{
    color: black;
    text-decoration: none;
}
.ordenheader{
    display: flex;
    align-items: center;
    justify-content: center;
    gap:50px;
    flex-direction: row;
    list-style: none;
    font-size: 1.4rem;
    padding-top: 20px;

    
}
/*Texto de Main en Index*/
.textmain{
    display: flex;
    align-items: center;
    justify-content: center;
    padding-top: 20px;
    padding-bottom: 20px;
    font-size: 3rem;

}
/*Posición de video*/
.video{
    overflow: hidden;
    width: 100%;
    height: auto;
}
/*Edición formulario*/
.spaceforms{
    display: flex;
    flex-direction: column;
    width: 300px;
    align-items: center;
    
}
.soloformulario{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    color: beige;
}
.backcontact{
    background-image: url(../Assets/img/contacto.jpg);
    min-height: 80vh;
}
/*Footter*/
.footeredicion{
    background-color: black;
    color: rgb(255, 255, 255);
    font-size: 0.6rem;
    height: 15vh;
    display: flex;
    justify-content: center;
    align-items: center;
}
/*Orden de sección productos*/
.productosorden{
    display: flex;
    padding-left: 20px;
    justify-content: center;

}
.precio{
    display: flex;
    justify-content: center;
    margin-left: 50%;
    margin-bottom: 20px;
    margin-top: 20px;
    align-items: center;
}
.textoh2{
    padding-left: 30px;
    padding-bottom: 20px;
    color: black;
}
.carrito{
    display: flex;
    justify-content: center;
    margin-left: 48%;
    margin-bottom: 20px;
    margin-top: 20px;
    align-items: center;
}
.contactext{
    color: rgb(255, 255, 255);
    padding-left: 42%;
    margin-bottom: 20px;
}